.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.about-items img {
    width: 400px;
    text-align: center;
    border-radius: 8px;
}

.about-items p {
    padding: 0 100px;
}

.about-items h2 {
    text-align: center;
}