.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.grid-items {
    background-color: white;
    border: 1px solid red;
    padding: 24px;
    border-radius: 8px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}