
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75px;
}

.page-header {
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/src/images-src-code/heroimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;;
    color: #f2f6f4;
    font-size: 30px;
 }

.card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 2px 4px rgba (0,0,0,0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-date {
    padding: 15px 0;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: black;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    background-color:rgb(70, 142, 156);
    border-radius: 4px;
    margin-top: 16px;
    width: 80px; /* Adjust width as needed */
    height: 16px; /* Adjust height as needed */
}

.card a:hover {
    color:white;
}