.page-header {
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/src/images-src-code/heroimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;;
  color: #f2f6f4;
  font-size: 30px;
}

.contactme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    gap: 25px;
}



.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.details-container h3 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.details-container h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 2px;
  box-sizing: border-box;
  width: 280px;
}

.details-container a i {
  display: inline-block;
  padding: 12px;
  font-size: 36px;
  color: black;
  
}


form {
    margin-top: 16px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
  }
  
  input[type=submit] {
    background-color: rgb(70, 142, 156);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(70, 142, 156);
  }
  
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
  }

  @media screen and (min-width: 750px) {

    .contactme-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    
    


  }